
@font-face {
    font-family: "Komika Axis";
    src: url("./fonts/KOMIKAX_.ttf") format('truetype');
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
}

header>nav{
    display:flex;
    justify-content: center;
    align-items: center;
    height:6rem;
    background-color: rgb(42, 99, 255);
}

header>nav>button{
    font-family: 'Komika Axis', sans-serif;
    padding:12px;
    margin:12px;
    background-color: rgba(0,0,0,0);
    border:0;
    color:white;
    font-size:larger;
}

#content{
    width:100vw;
    height:85vh;
    margin-top:6rem;
}

footer {
    display:flex;
    width:100vw;
    background-color: rgb(42, 99, 255);
    height:5rem;
    font-family: 'Komika Axis', sans-serif;
    color:white;
    font-size:small;
    justify-content: center;
    align-items:center;
}