
@font-face {
    font-family: "Komika Axis";
    src: url("./fonts/KOMIKAX_.ttf") format('truetype');
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
}

header>nav{
    display:flex;
    justify-content: center;
    align-items: center;
    height:6rem;
    background-color: rgb(42, 99, 255);
}

header>nav>button{
    font-family: 'Komika Axis', sans-serif;
    padding:12px;
    margin:12px;
    background-color: rgba(0,0,0,0);
    border:0;
    color:white;
    font-size:larger;
    text-shadow: 2px 2px 0 black;
    cursor: pointer;
}

#content{
    width:100vw;
    min-height:85vh;
    /*margin-top:6rem;*/
}

footer {
    display:flex;
    width:100vw;
    background-color: rgb(42, 99, 255);
    height:5rem;
    font-family: 'Komika Axis', sans-serif;
    color:white;
    font-size:small;
    justify-content: center;
    text-shadow: 2px 2px 0 black;
    align-items:center;
}

#name-section {
    background-image: url('gifs/spaceloop.gif');
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.478);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
}

#name, #name2{
    font-family: 'Komika Axis', sans-serif;
    font-size:4rem;
    text-shadow: 2px 2px 0 black;
    color:white;
}

#ticker {
    margin-top:24px;
    height:2rem;
    font-family:'Courier New', Courier, monospace;
    font-size:2rem;
    color:white;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid white;
    display: inline-block;
    padding-right: 5px;
}

#centerer {
    margin:12px auto;
    width:80vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
}

.section {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.section-header {
    font-family: 'Komika Axis', sans-serif;
    color:white;
    background-color: rgb(42, 99, 255);
    border-radius: 2rem;
    padding:8px 40px;
    text-align: center;
    width:min(80vw,750px);
    text-shadow: 2px 2px 0 black;

}

.section-text {
    max-width: 650px;
    font-size:large;
}


.image-side {
    background-size:cover;
    background-position: center;
    width: min(40vw, 375px);
    height:25vh;
    display:flex;
    justify-content: center;
    align-items: center;
    outline:4px solid black;
}


.image-side>button {
    font-family: 'Komika Axis', sans-serif;
    padding:12px 24px;
    background-color: rgb(42, 99, 255);
    border-radius: 2rem;
    margin:12px;
    border:0;
    color:white;
    font-size:larger;
    text-shadow: 2px 2px 0 black;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;

}

.section-text-img {

    max-width: 650px;
    font-size:large;
    display:grid;
    grid-template-columns: 2fr 2fr; 
    align-items:center;
    gap:20px;

}


#section1>.section-text-img>.image-side {
    background-image: url("images/dashboard.png");
}

#section2>.section-text-img>.image-side {
    background-image: url("images/Splash\ Screen.png")
}

#section3>.section-text-img>.image-side {
    background-image: url("images/data\ science.jpg")
}

#section4>.section-text-img>.image-side {
    background-image: url("gifs/spaceloop.gif")
}


.image-side>a {
    font-family: 'Komika Axis', sans-serif;
    padding:12px 24px;
    background-color: rgb(42, 99, 255);
    border-radius: 2rem;
    margin:12px;
    border:0;
    color:white;
    font-size:larger;
    text-shadow: 2px 2px 0 black;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;
    text-decoration:none;

}

#website1>.section-text-img>.image-side {
    background-image: url("images/calculator.png");
}

#website2>.section-text-img>.image-side {
    background-image: url("images/dashboard.png");
}

#website3>.section-text-img>.image-side {
    background-image: url("images/restaurant.png");
}

#website4>.section-text-img>.image-side {
    background-image: url("images/library.png");
}

#website5>.section-text-img>.image-side {
    background-image: url("images/sign-up.png");
}

#website6>.section-text-img>.image-side {
    background-image: url("images/landing.png");
}